<div class="desktop-header">
  <div class="container">
    <div class="header-bottom">
      <div class="row">
        <div class="col-sm-4">
          <div class="logo">
            <%= link_to root_path do %>
              <%= image_tag "logo1.png" %>
            <% end %>
          </div>
        </div>
        <div class="col-sm-8 pull-right">
          <div class="hotline">
            <div>
              <i class="fa fa-phone"></i>
              <%= t "layouts.header.hotline" %>
            </div>
            <span><%= t "layouts.header.phone" %></span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
